// Variables
$cresta-black: #131111;
$cresta-white: #e0e0e0;
$cresta-blue: #304ffe;

$cresta-border-radius: 6px;

:root {
  --background: #fff;
  --font-color: #494949;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3c3c3c;
    --font-color: #fafafa;
  }
}
