// Variables
$bitflux-black: #131111;
$bitflux-white: #e0e0e0;
$bitflux-red: #ff2323;
$bitflux-green: #005f20;
$bitflux-blue: #070bce;

:root {
  --background: #fff;
  --font-color: #494949;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3c3c3c;
    --font-color: #fafafa;
  }
}
